  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<div class="row">

    {% if error %}
    <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
    {% endif %}
    
    {% if user.is_authenticated %}
    Vous êtes connecté, {{ user.username }} !
    {% else %}
<div class="row">
    <div class="col s1 push-s5">
        <h1>CONNEXION</h1>
    </div>

</div>

<div class="row">
      <form class="col s6 push-s3" method="post" action="{% url "connexion" %}"> 
        {% csrf_token %}
        {{ form.as_p }}
        
        <button class="btn waves-effect waves-light" type="submit" action="{% url "connexion" %}">Valider         
              </button>
                    
    </form>
    {% endif %}

</div>
