
{% extends "base.html" %}

{% block content %}


<div class="row">
        <div class="container">

<h3 class="list-group-item" >Mes Dossiers</h3>

{% if user.is_authenticated %}



{% for chantier in derniers_chantiers %}


    {% if user.id == chantier.user.id %}
    <div class="list-group">
    <h5 class="list-group-item"> {{ chantier.name}} - {{ chantier.id }} </h5>
    <a href="{% url "chantier_detail" chantier.id %}" class="list-group-item list-group-item-action">Acceder au Chantier</a> 
    </div>  
    {% endif %}

{% endfor %}

{% endif %}

   

{% endblock %}
</div>
    
</div>

