 {% extends "base.html" %} {% block content %} {% if user.id == chantier.user.id %}

<div class="container">

    <h5 class="">{{ chantier.name }}</h5>


</div>
<div class="row">
    <div class="col s4">

        <h5>Mes Documents</h5>

        <div class="list-group">
            {% for fichier in chantier.mesFichiers %}
            <a href="/doc/{{ fichier.fichier_path }}" class="list-group-item list-group-item-action">{{fichier}}</a>
            {% endfor %}

        </div>
    </div>



    <div class="col s8">

        <h5>Mes Informations</h5>
        <br> {% for message in chantier.mesMessages %}

        <div class="card">
                <div class="card-block">
                    
                    {{message.date}}
                </div>
            </div>

        <div class="card">
            <div class="card-block">
                
                {{message.contenu}}
            </div>
        </div>


        {% endfor %}


        <!--<a href="{% url "chantier_liste" %}">RETOUR</a> -->

        {% else %}

        <h1>MAUVAISE IDENTIFICATION</h1>

        {% endif %} {% endblock %}

    </div>

</div>

<!-- Latest compiled and minified CSS -->