<html> 

<head>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

{% block nav %}

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BatiLab</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/chantiers">Mon Chantier</a></li>        
        {% if user.is_authenticated %}
        <li><a href="/profil/deconnexion">Deconnexion</a></li>
        {% else %}
        <li><a href="/profil/connexion">Connexion</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
        

  {% endblock %}


  {% block content %}
  <body>
    
  </body>
  {% endblock %}

</html>