{% extends "base.html" %} {% block content %}





<table>




        {% for x , y in detail_house.groupe.items %}
        <tr>
                <th>
                        
                        {{x}}
                        
                </th>
                
        </tr>
        
        {% for x2 in y %} {%for x3 , x4 in x2.items %}
        <tr>
                
                <td>

                        {{x3}} -- {{x4}}
                </td>

        </tr>
        {% endfor %} {% endfor %}
        {% endfor %}

</table>






{% endblock %}