{% extends "base.html" %} {% block content %} 


<h3> {{detail_house.name}} -- {{detail_house.price_ht}} € -- TTC : {{detail_house.prix_ttc}} € </h3>
<table class="table">
                <thead class="thead-inverse">
        {% for x , y in detail_house.groupe.items %}
        <tr>
                <th>

                        {{x}}

                </th>

                <th>
                        Prix HT
                </th>
                <th>
                        Prix TTC
                </th>

        </tr>

        </thead>

        <tr>
                {% for x2 in y %} {%for x3 , x4 in x2.items %}

                

                <td>

                        {{x3}}
                </td>

                <td>
                        {{x4}} €
                </td>
                
                <td>
                       
                </td>

        </tr>

        {% endfor %} {% endfor %} {% endfor %} 

</table>

{%endblock%}